<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruiting Services Inc.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">Recruiting Services Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/candidates">Candidates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="p-5 text-center bg-light">
    <h2 class="mb-3">Dashboard</h2>
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="/images/graph_2.png" class="card-img-top"/>
                                <div class="card-body">
                                    <h5 class="card-title">Salary & Experience Correlation</h5>
                                    <p class="card-text">
                                        A heatmap outlining the correlation between experience and salary.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img
                                        src="/images/graph_1.png" class="card-img-top"/>
                                <div class="card-body">
                                    <h5 class="card-title">Salary & Experience Trend</h5>
                                    <p class="card-text">
                                        A scatter plot used to observe the relationship between experience and salary
                                        for the dataset used to train the predictive model.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="/images/graph_3.png" class="card-img-top"/>
                                <div class="card-body">
                                    <h5 class="card-title">Salary & Experience Regression</h5>
                                    <p class="card-text">
                                        A scatter plot used to observe the relationship between experience and salary
                                        for the dataset used to train the predictive model. The regression line is used
                                        to get a visual representation of forecasted values.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src="/images/graph_4.png"
                                        class="card-img-top"
                                        alt="Sunset over the Sea"
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Salary Distribution</h5>
                                    <p class="card-text">
                                        Graph displaying the salary distribution among the samples
                                        used in the dataset.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="/images/graph_5.png" class="card-img-top"/>
                                <div class="card-body">
                                    <h5 class="card-title">Experience Distribution</h5>
                                    <p class="card-text">
                                        Graph displaying the experience distribution among the samples
                                        used in the dataset.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Inner -->
        </div>
    </div>
</div>
</body>
</html>