#candidate-form {
    display:block;
    width:50%;
    margin:0 auto;
}

.btn {
    width:30%;
    padding:10%;
}

.candidate-button-container {
    padding-bottom:2%;
    width:100%;
    display:inline-block;
}

#create-candidate {
    width:20%;
    margin-right:2%;
}

#delete-candidates {
    margin-right:2%;
    width:20%;
}

#select-candidates {
    width:20%;
}

#candidate-form-container {
    height:100%;
}

.button-container {
    display:block;
    margin:0 auto;
    width:80%;
}

#candidate-submit {
    width:40%;
    float:right;
}

#candidate-cancel {
    width:40%;
    float:left;
}

#candidates-header {
    padding-bottom:2%;
}

#login-form {
    display:block;
    width:40%;
    margin:0 auto;
}

#login-form-container {
    height:100%;
}

#login-header-container {
    margin-bottom:3%;
}
